
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .homePage {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode button {
    background-color: #dddddd;
    color: #000000;
    border: 1px solid #cccccc;
}

body.dark-mode {
    background-color: #2e2e2e; 
    color: #e0e1dd;
}

body.dark-mode .homePage {
    background-color: #3a3a3a;
    color: #e0e1dd;
}

body.dark-mode button {
    background-color: #4a4a4a;
    color: #4a4a4a;
}

body.dark-mode button:hover {
    /*background-color: #5a5a5a;*/
    border: 1px solid #4a4a4a;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.layout-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.layout-table td {
    padding: 5px;
    box-sizing: border-box;
    width: 33.33%;
}

.video-cell {
    justify-content: center;
    align-items: center;
    /*display: flex;*/
}

.responsive-video {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.video-track {
    width: 100%;
    height: 100px;
    background-color: none;
}

.tools-cell {
    text-align: center;
}

.controls {
    display: inline-block;
    text-align: left;
}

.controls div {
    margin-bottom: 10px;
}
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: black; /* Color de fondo */
}

.modal-content {
    background-color: #5a5a5a;
    margin: 15% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #4a4a4a;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.h2 {
    color: #ffffff;
    text-align: center;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.selectpicker {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}
.selectpicker.selectors {
    max-height: none !important;
    /* overflow: visible !important; */
    position: relative !important;
    transform: none !important;
    top: auto !important;
    left: auto !important;
}
.mask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: #5a5a5a;
    cursor: pointer;
    background-color: #e0e1dd;
    transition: background-color 0.3s;
}

/* Color de fondo al pasar el ratón por encima */
.mask-item:hover {
    background-color: #6a6a6a;
}

/* Color de fondo para las máscaras seleccionadas */
.mask-item.selected {
    background-color: #5a5a5a;
    color: #e0e1dd;
}

.dropdown {
    position: relative;
    display: inline-block;
} 

.dropdown-toggle {
    background-color: #e0e1dd !important;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    padding: 10px;
    cursor: pointer;
    border-radius:5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #e0e1dd !important;
    border: 1px solid #4a4a4a;
    padding: 10px;
    z-index: 1000;
    max-height: 200px;
}


.dropdown-menu-mask {
    position: absolute;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu.show {
    display: block;
    width: 100%;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: #5a5a5a;
}

.dropdown-item:hover {
    background-color: #4a4a4a;
}

.delete-button {
    background: none !important;
    border: none !important;
    padding-left: 2vw;
    color: red !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.delete-button:hover {
    color: darkred;
}

/* Estilo para la barra de desplazamiento vertical */
::-webkit-scrollbar {
    width: 4px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #e0e1dd; /* Color de fondo de la pista */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #6a6a6a; /* Color del pulgar */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
}

/* Estilo para el pulgar de la barra de desplazamiento al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a; /* Color del pulgar al pasar el ratón por encima */
}

/* Estilo para la barra de desplazamiento horizontal */
::-webkit-scrollbar-horizontal {
    height: 4px; /* Altura de la barra de desplazamiento horizontal */
}

/* Estilo para la pista de la barra de desplazamiento horizontal */
::-webkit-scrollbar-track-horizontal {
    background: #2a2a2a; /* Color de fondo de la pista horizontal */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
}

/* Estilo para el pulgar de la barra de desplazamiento horizontal */
::-webkit-scrollbar-thumb-horizontal {
    background: #4a4a4a; /* Color del pulgar horizontal */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
}

/* Estilo para el pulgar de la barra de desplazamiento horizontal al pasar el ratón por encima */
::-webkit-scrollbar-thumb-horizontal:hover {
    background: #6a6a6a; /* Color del pulgar horizontal al pasar el ratón por encima */
}
