body.dark-mode {
    background-color: #2e2e2e; 
    color: #e0e1dd;
}

body.dark-mode .homePage {
    background-color: #3a3a3a;
    color: #e0e1dd;
}

body.dark-mode button {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    font-family: proggyClean;
    margin-left: 15px;
}  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    }

    .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    }

    header {
    height: 50px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #333;
    }

    button#propagate_button {
        background-color: #333;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        color: #ffffff;
        border: 1px solid #ffffff;
        position: absolute;
        right: 20px;
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .editor-section {
        flex: 1;
        display: flex;
        gap: 10px;
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
    }

    .editor-section .panel {
        flex: 1;
        background-color: #1f1f1f;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .editor-section .panel:nth-child(1) {
        border-right: 2px solid #333;
    }

    .bottom-section {
        display: flex;
        gap: 10px;
        flex: 0.6;
        max-height: 150px;
    }
    .bottom-section .segmentation-control {
        flex: 50;
        background-color: #1f1f1f;
        border-radius: 4px;
        padding: 10px;
    }

    .bottom-section .timeline {
        flex: 30;
        background-color: #1f1f1f;
        border-radius: 4px;
        padding: 10px;
    }

    .bottom-section .timeline .mask-item {
        background-color: #333;
        padding: 2px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
    }

    .bottom-section .timeline .mask-item:hover {
        background-color: #444;
    }

    /* Color de fondo para las máscaras seleccionadas */
    .mask-item.selected {
        background-color: #5a5a5a;
        color: #e0e1dd;
    }

    .bottom-section .controls {
        flex: 20;
        background-color: #1f1f1f;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    
    @font-face {
        font-family: 'ProggyClean';
        src: url('../../fonts/ProggyClean.ttf') format('truetype');
    }

    .bottom-section .controls .control-item {
        background-color: #333;
        padding: 4px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'ProggyClean', sans-serif;

    }
    .bottom-section .controls .control-item.selected {
        background-color: #606060;
        padding: 4px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'ProggyClean', sans-serif;
        
    }

    .bottom-section .controls .control-item:hover {
        background-color: #444;
    }
    
    .editor-section .panel {
        flex: 1;
        background-color: #1f1f1f;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden; /* Asegura que el canvas no se desborde */
    }

    #frameImage {
        width: 95%; /* Ocupa casi todo el ancho del panel */
        /* height: 95%; */
        background-color: #000; /* Color de fondo para que destaque */
        border-radius: 4px; /* Opcional, si quieres esquinas redondeadas */
    }
    #resultImage {
        width: 95%; /* Ocupa casi todo el ancho del panel */
        /* height: 95%; */
        background-color: transparent; /* Color de fondo para que destaque */
        border-radius: 4px; /* Opcional, si quieres esquinas redondeadas */
    }
    #framesContainer {
        max-height: 100%; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
        position: relative;
    }

    /* Estilo para la barra de desplazamiento vertical */
    #framesContainer::-webkit-scrollbar {
        width: 8px; /* Ancho de la barra de desplazamiento */
    }

    #framesContainer::-webkit-scrollbar-track {
        background: #2a2a2a; /* Color de fondo del track */
        border-radius: 10px; /* Esquinas redondeadas */
    }

    #framesContainer::-webkit-scrollbar-thumb {
        background: #4a4a4a; /* Color del pulgar */
        border-radius: 10px; /* Esquinas redondeadas */
    }

    #framesContainer::-webkit-scrollbar-thumb:hover {
        background: #6a6a6a; /* Color del pulgar al pasar el ratón por encima */
    }
    .delete-button {
        background: none !important;
        border: none !important;
        padding-left: 2vw;
        color: #676161;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }
    .delete-button:hover {
        color: #fbf8f8;
    }
    .color-button {
        width: 24px !important;
        height: 24px !important;
        border: none !important;
        border-radius: 50% !important;
        cursor: pointer !important;
        margin-left: 10px !important;
        display: inline-block !important;
        vertical-align: middle !important;
    }

    .pickr .pcr-button::before {
        display: none;
        background: none !important;
        border: none !important;
    }
    .pickr .pcr-button::after {
        border: 1px solid #4a4a4a !important;
        border-radius: 50% !important;
    }

    .pcr-app{
        background-color: #1f1f1f !important;
    }

    #maskContainer {
        max-height: 100%; /* Ajusta la altura máxima según sea necesario */
        overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
        border-radius: 10px; /* Esquinas redondeadas */
        padding-right: 10px; /* Espaciado interno */
        padding-left: 10px;
    }

    /* Estilo para la barra de desplazamiento vertical */
    #maskContainer::-webkit-scrollbar {
        width: 8px; /* Ancho de la barra de desplazamiento */
    }
    #maskContainer::-webkit-scrollbar-track {
        background: #2a2a2a; /* Color de fondo del track */
        border-radius: 10px; /* Esquinas redondeadas */
    }
    #maskContainer::-webkit-scrollbar-thumb {
        background: #4a4a4a; /* Color del pulgar */
        border-radius: 10px; /* Esquinas redondeadas */
    }
    #maskContainer::-webkit-scrollbar-thumb:hover {
        background: #5a5a5a; /* Color del pulgar al pasar el ratón */
    }
    .spinner {
        border: 3px solid #6f6f6f; /* Light grey */
        border-top: 3px solid #bdbdbd; /* Blue */
        border-radius: 50%;
        width: 25px;
        height: 25px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    #loadingSpinner {
        display: none;
    }
    #loadingSpinner.show {
        display: flex;
        margin-top: 50px;
        margin-left: 50px;
    }
    #loadingSpinnerMasks {
        display: none;
    }
    #loadingSpinnerMasks.show {
        display: flex;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1000;
    }
    .index-buttons {
        display: absolute;
        margin-top: 200px;
        margin-left: 200px !important;
    }
    #openProjectBtn {
        margin-top: 100px;
    }
    .info-button-container {
        position: relative;
        display: inline-block;
    }

    .info-button {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
    }

    .info-content {
        display: none;
        position: absolute;
        background-color: #333;
        color: #ffffff;
        padding: 10px;
        border-radius: 4px;
        z-index: 1;
        width: 200px;
        top: 30px;
        left: 0;
        font-family:'ProggyClean', sans-serif;
        text-align: justify;
    }

    .info-button-container:hover .info-content {
        display: block;
    }
    .masks-buttons {
        background-color: #333;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        font-family: proggyClean;
    }
    .masks-buttons.selected{
        background-color: #606060;
    }
    #sendFrameButton {
        margin-top: 15px;
    }
    #change_order {
        margin-left: 15px;
    }

    .progress-container {
        width: 50%;
        background-color: #aeaaaa;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: none;
    }

    .progress-container.show {
        display: block;
    }

    .progress-bar {
        height: 20px;
        width: 0;
        background-color: #3a3a3a;
        text-align: center;
        line-height: 20px;
        color: white;
        border-radius: 5px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 999;
        display: none;
    }

    .overlay.show {
        display: block;
    }

    #frameImage.positive-cursor {
        cursor: crosshair;
        cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj4KICA8Y2lyY2xlIGN4PSI1IiBjeT0iNSIgcj0iNSIgZmlsbD0iZ3JlZW4iIC8+Cjwvc3ZnPg==') 4 4, crosshair;
    }

    #frameImage.negative-cursor {
        cursor: crosshair;
       cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj4KICA8Y2lyY2xlIGN4PSI1IiBjeT0iNSIgcj0iNSIgZmlsbD0icmVkIiAvPgo8L3N2Zz4=') 4 4, crosshair;

    }
    .point {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        animation: fadeOut 1s forwards;
    }

    .point.positive {
        background-color: green;
    }

    .point.negative {
        background-color: red;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
