
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .homePage {
    background-color: #f0f0f0;
    color: #000000;
}

body.light-mode button {
    background-color: #dddddd;
    color: #000000;
    border: 1px solid #cccccc;
}

body.dark-mode {
    background-color: #2e2e2e; 
    color: #e0e1dd;
}

body.dark-mode .homePage {
    background-color: #3a3a3a;
    color: #e0e1dd;
}

body.dark-mode button {
    background-color: #4a4a4a;
    color: #e0e1dd;
    border: 1px solid #5a5a5a;
}

body.dark-mode button:hover {
    background-color: #5a5a5a;
    border: 1px solid #4a4a4a;
}
/* .responsive-video {
    width: 100%;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
} */
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.layout-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.layout-table td {
    padding: 5px;
    box-sizing: border-box;
    width: 33.33%;
}

.video-cell {
    justify-content: center;
    align-items: right;
}

.responsive-video {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

.video-track {
    width: 100%;
    height: 100px;
    background-color: none;
}

.tools-cell {
    text-align: center;
}

.controls {
    display: inline-block;
    text-align: left;
}

.controls div {
    margin-bottom: 10px;
}
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: black; /* Color de fondo */
}

.modal-content {
    background-color: #5a5a5a;
    margin: 15% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #4a4a4a;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.h2 {
    color: #ffffff;
    text-align: center;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}